<h1>Bibliografía / Recursos</h1>

<ul>
  <% items.forEach(item => { %>
    <li>
      <strong><%= item.title %></strong>
      <% if (item.author) { %> – <%= item.author %> <% } %>
      <% if (item.year) { %> (<%= item.year %>) <% } %>

      <% if (item.url) { %>
        <a href="<%= item.url %>" target="_blank">Acceder</a>
      <% } %>
    </li>
  <% }) %>
</ul>
