<%- include('../layouts/app', { title: 'Inicio | Nicolás Lippi', body: `
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="fw-bold mb-3" data-aos="fade-right">Bienvenido a mi portafolio</h1>
      <p class="lead" data-aos="fade-up">
        Explora mis proyectos, experiencia y habilidades en desarrollo Full Stack JavaScript.
      </p>
    </div>
  </div>
</div>
` }) %>
