<h1>Proyectos</h1>

<div>
  <% projects.forEach(p => { %>
    <div>
      <h3><%= p.title %></h3>
      <p><%= p.description %></p>

      <% if (p.github_url) { %>
        <a href="<%= p.github_url %>" target="_blank">GitHub</a>
      <% } %>

      <% if (p.demo_url) { %>
        <a href="<%= p.demo_url %>" target="_blank">Demo</a>
      <% } %>
    </div>
  <% }) %>
</div>
